In [1]:
from langchain_community.llms import Ollama

In [2]:
llm = Ollama(model="llama2")

### Read transaction data

In [21]:
# Read the transactions_2022_2023.csv file 
import pandas as pd
df = pd.read_csv("transactions_2022_2023.csv", sep=";")
df.head()

         Date Name / Description Expense/Income  Amount (EUR)
0  2022-01-01           Pharmacy        Expense         45.64
1  2022-01-02               Gift         Income       1409.07
2  2022-01-03        Electronics        Expense         57.54
3  2022-01-05               Rent         Income       1117.50
4  2022-01-07        Supermarket        Expense       1885.56

In [4]:
# Get unique transactions in the Name / Description column
unique_transactions = df["Name / Description"].unique()
len(unique_transactions)

39

In [5]:
unique_transactions[1:10]

array(['Gift', 'Electronics', 'Rent', 'Supermarket', 'Public Transport',
       'Audible Uk AdblCo/Pymt Gbr', 'Classpass* Monthly', 'Amazon Lux',
       'Bookstore'], dtype=object)

### Categorise bank transactions with Llama2

In [6]:
# Get index list
#https://stackoverflow.com/questions/47518609/for-loop-range-and-interval-how-to-include-last-step
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0, 30, 39]

In [7]:
# Output validation
from pydantic import BaseModel, field_validator
from typing import List

# Validate response format - check if it actually contains hyphen ("-")
class ResponseChecks(BaseModel):
    data: List[str]

    @field_validator("data")
    def check(cls, value):
        for item in value:
            if len(item) > 0:
                assert "-" in item, "String does not contain hyphen."

# Test validation
ResponseChecks(data = ['Hello - World', 'Hello - there!'])

ResponseChecks(data=None)

In [8]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')


    response = response[1:] if response[0] == '' else response
    
    # Keep only the lines in between blank lines (removing the explaination lines at the beginning and end of the response)
    blank_indexes = [index for index in range(len(response)) if response[index].strip() == '']
    if len(blank_indexes) == 1:
        response = response[(blank_indexes[0] + 1):]
    else:
        response = response[(blank_indexes[0] + 1) : blank_indexes[1]]


    # Print response and validate if it is in the correct format
    print(response)
    ResponseChecks(data = response)
    
    # Put in dataframe
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [9]:
# Test out the function
categorize_transactions('ISS Catering Services De Meern, Vishandel Sier AMSTELVEEN, Etos AMSTERDAM NLD, Bistro Bar Amsterdam', llm)

['1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. ISS Catering Services De Meern - Food', '4. Vishandel Sier AMSTELVEEN - Groceries', '5. Etos AMSTERDAM NLD - Convenience Store', '6. Bistro Bar Amsterdam - Dining']

,Transaction vs category,Transaction,Category
0,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
1,2. Beta Boulders Ams Amsterdam Nld - Sport,2. Beta Boulders Ams Amsterdam Nld,Sport
2,3. ISS Catering Services De Meern - Food,3. ISS Catering Services De Meern,Food
3,4. Vishandel Sier AMSTELVEEN - Groceries,4. Vishandel Sier AMSTELVEEN,Groceries
4,5. Etos AMSTERDAM NLD - Convenience Store,5. Etos AMSTERDAM NLD,Convenience Store
5,6. Bistro Bar Amsterdam - Dining,6. Bistro Bar Amsterdam,Dining

In [10]:
# Intialise the categories_df_all dataframe
categories_df_all = pd.DataFrame()
max_tries = 7

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    # Try and validate output, if it fails, try again for max_tries=7 times
    for j in range(1, max_tries):
        try:
            categories_df = categorize_transactions(transaction_names, llm)
            categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)
            
        except:
            if j < max_tries:
                continue
            else:
                raise Exception(f"Cannot categorise transactions indexes {i} to {i+1}.")
        break

['1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Pharmacy - Personal Care', '4. Gift - Miscellaneous', '5. Electronics - Technology', '6. Rent - Housing', '7. Supermarket - Groceries', '8. Public Transport - Travel', '9. Audible Uk AdblCo/Pymt Gbr - Entertainment', '10. Classpass* Monthly - Fitness', '11. Amazon Lux - Online Shopping', '12. Bookstore - Books', '13. Online Shopping - Retail', '14. Coffee Shop - Food & Beverage', '15. Utility Bill - Bills & Utilities', '16. Pet Supplies - Pets', '17. Clothing Store - Fashion', '18. Cinema - Entertainment', '19. Salary - Income', '20. Freelance Work - Work', '21. Gym Membership - Fitness', '22. Restaurant - Food & Beverage', '23. Tesco - Groceries', '24. Apple Services - Technology', '25. Taxi Utrecht - Transportation', '26. Blogging - Writing', '27. Tikkie - Finance', '28. Freelancing - Work', '29. Bouldermuur Bv - Business', '30. Birtat Restaurant - Food & Beverage', '31. Beta Boulders Ams - Sports & Fitness', '32. Etos - Groceries']
['1. Tls Bv Inz Ov-Chipkaart - Payment', '2. Consulting - Business', '3. Aidsfonds - Charity', '4. Tk Maxx Da - Retail', '5. Spotify Ab By Adyen - Entertainment', '6. Selling Paintings - Personal', '7. Vishandel Sier - Transportation', '8. Monthly Appartment Rent - Housing', '9. Belastingdienst - Government']

In [11]:
categories_df_all.head()

,Transaction vs category,Transaction,Category
0,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
1,2. Beta Boulders Ams Amsterdam Nld - Sport,2. Beta Boulders Ams Amsterdam Nld,Sport
2,3. Pharmacy - Personal Care,3. Pharmacy,Personal Care
3,4. Gift - Miscellaneous,4. Gift,Miscellaneous
4,5. Electronics - Technology,5. Electronics,Technology

In [12]:
# Get unique categories in categories_df_all
unique_categories = categories_df_all["Category"].unique()
unique_categories

array(['Entertainment', 'Sport', 'Personal Care', 'Miscellaneous',
       'Technology', 'Housing', 'Groceries', 'Travel', 'Fitness',
       'Online Shopping', 'Books', 'Retail', 'Food & Beverage',
       'Bills & Utilities', 'Pets', 'Fashion', 'Income', 'Work',
       'Transportation', 'Writing', 'Finance', 'Business',
       'Sports & Fitness', 'Payment', 'Charity', 'Personal', 'Government'],
      dtype=object)

In [13]:
# Drop NA values
categories_df_all = categories_df_all.dropna()

# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
# If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
# If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
# If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
# If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
# If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [14]:
# Remove the numbering eg "1. " from Transaction column
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'^\d+\.\s+', '', regex=True)
categories_df_all

,Transaction vs category,Transaction,Category
0,1. Spotify AB by Adyen - Entertainment,Spotify AB by Adyen,Entertainment
1,2. Beta Boulders Ams Amsterdam Nld - Sport,Beta Boulders Ams Amsterdam Nld,Sport and Fitness
2,3. Pharmacy - Personal Care,Pharmacy,Personal Care
3,4. Gift - Miscellaneous,Gift,Miscellaneous
4,5. Electronics - Technology,Electronics,Technology
5,6. Rent - Housing,Rent,Housing
6,7. Supermarket - Groceries,Supermarket,Groceries
7,8. Public Transport - Travel,Public Transport,Travel
8,9. Audible Uk AdblCo/Pymt Gbr - Entertainment,Audible Uk AdblCo/Pymt Gbr,Entertainment
9,10. Classpass* Monthly - Fitness,Classpass* Monthly,Fitness
10,11. Amazon Lux - Online Shopping,Amazon Lux,Online Shopping
11,12. Bookstore - Books,Bookstore,Books
12,13. Online Shopping - Retail,Online Shopping,Retail
13,14. Coffee Shop - Food & Beverage,Coffee Shop,Food and Drinks
14,15. Utility Bill - Bills & Utilities,Utility Bill,Bills & Utilities
15,16. Pet Supplies - Pets,Pet Supplies,Pets
16,17. Clothing Store - Fashion,Clothing Store,Fashion
17,18. Cinema - Entertainment,Cinema,Entertainment
18,19. Salary - Income,Salary,Income
19,20. Freelance Work - Work,Freelance Work,Work
20,21. Gym Membership - Fitness,Gym Membership,Fitness
21,22. Restaurant - Food & Beverage,Restaurant,Food and Drinks
22,23. Tesco - Groceries,Tesco,Groceries
23,24. Apple Services - Technology,Apple Services,Technology
24,25. Taxi Utrecht - Transportation,Taxi Utrecht,Transportation
25,26. Blogging - Writing,Blogging,Writing
26,27. Tikkie - Finance,Tikkie,Finance
27,28. Freelancing - Work,Freelancing,Work
28,29. Bouldermuur Bv - Business,Bouldermuur Bv,Business
29,30. Birtat Restaurant - Food & Beverage,Birtat Restaurant,Food and Drinks
30,31. Beta Boulders Ams - Sports & Fitness,Beta Boulders Ams,Sport and Fitness
31,32. Etos - Groceries,Etos,Groceries
32,1. Tls Bv Inz Ov-Chipkaart - Payment,Tls Bv Inz Ov-Chipkaart,Payment
33,2. Consulting - Business,Consulting,Business
34,3. Aidsfonds - Charity,Aidsfonds,Charity
35,4. Tk Maxx Da - Retail,Tk Maxx Da,Retail
36,5. Spotify Ab By Adyen - Entertainment,Spotify Ab By Adyen,Entertainment
37,6. Selling Paintings - Personal,Selling Paintings,Personal
38,7. Vishandel Sier - Transportation,Vishandel Sier,Transportation
39,8. Monthly Appartment Rent - Housing,Monthly Appartment Rent,Housing
40,9. Belastingdienst - Government,Belastingdienst,Government

In [24]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions_2022_2023.csv", sep=";")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
# Очистка строк в обоих DataFrame
df['Name / Description'] = df['Name / Description'].str.strip().str.lower()
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.strip().str.lower()
df = pd.merge(df, categories_df_all, left_on='Name / Description', right_on='Transaction', how='left')
filtered_df = df[df['Category'] == 'Travel']
filtered_df

,Date,Name / Description,Expense/Income,Amount (EUR),Transaction vs category,Transaction,Category
5,2022-01-07,public transport,Expense,117.84,8. Public Transport - Travel,public transport,Travel
6,2022-01-08,public transport,Expense,1148.68,8. Public Transport - Travel,public transport,Travel
7,2022-01-08,public transport,Expense,42.86,8. Public Transport - Travel,public transport,Travel
14,2022-01-22,public transport,Expense,1977.30,8. Public Transport - Travel,public transport,Travel
24,2022-02-09,public transport,Expense,101.63,8. Public Transport - Travel,public transport,Travel
64,2022-04-04,public transport,Expense,6.10,8. Public Transport - Travel,public transport,Travel
77,2022-04-29,public transport,Expense,102.96,8. Public Transport - Travel,public transport,Travel
78,2022-04-29,public transport,Expense,196.71,8. Public Transport - Travel,public transport,Travel
94,2022-05-26,public transport,Expense,1596.76,8. Public Transport - Travel,public transport,Travel
95,2022-05-26,public transport,Expense,10.49,8. Public Transport - Travel,public transport,Travel
122,2022-06-27,public transport,Expense,1168.67,8. Public Transport - Travel,public transport,Travel
135,2022-07-21,public transport,Expense,148.95,8. Public Transport - Travel,public transport,Travel
144,2022-08-05,public transport,Expense,169.01,8. Public Transport - Travel,public transport,Travel
155,2022-08-17,public transport,Expense,2026.51,8. Public Transport - Travel,public transport,Travel
241,2022-11-28,public transport,Expense,106.63,8. Public Transport - Travel,public transport,Travel
249,2022-12-11,public transport,Expense,2122.92,8. Public Transport - Travel,public transport,Travel
267,2023-01-07,public transport,Expense,1245.15,8. Public Transport - Travel,public transport,Travel
277,2023-01-22,public transport,Expense,2785.60,8. Public Transport - Travel,public transport,Travel
312,2023-03-09,public transport,Expense,42.29,8. Public Transport - Travel,public transport,Travel
318,2023-03-16,public transport,Expense,124.12,8. Public Transport - Travel,public transport,Travel
329,2023-03-23,public transport,Expense,56.37,8. Public Transport - Travel,public transport,Travel
353,2023-05-13,public transport,Expense,2324.37,8. Public Transport - Travel,public transport,Travel
355,2023-05-15,public transport,Expense,134.92,8. Public Transport - Travel,public transport,Travel
411,2023-08-11,public transport,Expense,1848.31,8. Public Transport - Travel,public transport,Travel
439,2023-09-15,public transport,Expense,82.92,8. Public Transport - Travel,public transport,Travel
524,2023-12-30,public transport,Expense,40.31,8. Public Transport - Travel,public transport,Travel

In [25]:
df.to_csv("transactions_2022_2023_categorized.csv", index=False)